.table {
  position: relative;
  background-image: url(/images/50.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.tabelImg {
  background-image: url(/images/table.png);
  position: absolute;
  top: -40px;
  width: 900px;
  height: 100%;
  background-position: top;
  background-size: cover;
  margin: auto;
}
